*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* font-family: 'Cormorant', serif;
font-family: 'Cormorant Garamond', serif;*/
body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    background: #0D0A07;
    color: #FFFFFF;
}

.container {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.header__top {
    display: flex;
    border-bottom: 1px solid #333333;
}

.logo {
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    align-items: center;
    margin: 27px 0;
}

.menu {
    display: flex;

}

.menu__list {
    display: flex;
    margin: 30px 43px 30px 141px;
}

.menu__item {
    padding-right: 30px;
}

.menu__school {
    display: flex;
    align-items: center;
    width: 124px;
}

.menu__school-text {
    padding-right: 10px;
    color: #A2734A;
}

.menu__show {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin-top: 15px;
    margin-left: 113px;
    margin-bottom: 16px;
    border: 1px solid #583E29;
}

.general__wrapper {
    background-image: url(../images/header/header-bg.png);
    background-position-x: 292px;
    background-position-y: -40px;
    background-repeat: no-repeat;
    padding-bottom: 46px;
}

.general__title {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 28px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 75%;
    color: #A2734A;
}

.general__text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 403px;
}

.general__inner {
    display: flex;
    justify-content: space-between;
}

.general__block {
    margin-top: 69px;
    margin-bottom: 19px;
}

.general__block-text1 {
    max-width: 308px;
    font-size: 24px;
    line-height: 135%;
    color: #EBEBEB;
    margin-bottom: 84px;
}

.general__block-text2 {
    color: #BFBFBF;
    max-width: 251px;
    margin-bottom: 93px;
    line-height: 135%;
}

.general__block-text3 {
    max-width: 280px;
    line-height: 140%;
    color: #D9D9D9;
}

.general__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 144px;
}

.general__list-item {
    margin-bottom: 33px;
}

.general__list-title {
    color: #BDB6B0;
}

.general__list-text {
    align-items: flex-start;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    line-height: 135%;
}

.features {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.features__block {
    position: relative;
    left: 200px;
    top: 0;
    display: inline-block;
    flex-direction: column;
    max-width: 480px;
    padding: 51px 53px 45px 57px;
    background: #191919;
}

.features__title {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 75%;
    color: #A2734A;
    margin-bottom: 34px;
}

.features__text {
    line-height: 140%;
    color: #F7F7F7
}

.features__text-item {
    padding-bottom: 10px;
}

.features__img1 {
    position: relative;
    left: 200px;
    top: -65px;
}

.features__img2 {
    width: 680px;
    height: 440px;
    position: relative;
    top: -93px;
}

.features__img3 {
    width: 495px;
    height: 512px;
    position: relative;
    top: -158px;
}

.video {
    margin-bottom: 32px;
}

.video__title {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 72px;
    line-height: 75%;
    color: #A2734A;
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.video__block {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.video__img {
    margin-top: 29px;
    margin-bottom: 29px;
}

.video__popup {
    width: 484px;
    height: 272px;
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 348px;
    top: 0;
}

.trait__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
}

.trait__title {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 72px;
    line-height: 75%;
    color: #A2734A;

}

.trait__text {
    margin-top: 13px;
    margin-right: 9px;
    max-width: 580px;
    text-align: center;
}

.traint__img {
    max-width: 100%;
    margin-bottom: 84px;
}

.exterior {
    padding-bottom: 24px;
}

.exterior__title {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 72px;
    line-height: 75%;
    text-align: center;
    color: #A2734A;
}

.exterior__block {
    padding-top: 72px;
    display: flex;
    justify-content: space-evenly;
}

.exterior__item {
    width: 260px;
    height: 408px;
}

.exterior__item:nth-child(2),
.exterior__item:nth-child(4) {
    margin-top: 150px;
}

.exterior__item-title {
    font-family: 'Cormorant Garamond';
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
    color: #F7F7F7;
}

.exterior__text {
    line-height: 135%;
    color: #D9D9D9;
}

.history__age {
    position: absolute;
    top: 0;
    left: 699px;
    width: 487px;
    padding-top: 43px;
}
.history__number{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    color: #BDB6B0;
}
.history__back {
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    color: #FFFFFF;
    padding-bottom: 20px;
    padding-right: 4px;
}

.history__wrapper {
    padding-top: 98px;
    display: flex;
    justify-content: space-between;
}
.history__title {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 72px;
    line-height: 75%;
    color: #A2734A;
    padding-bottom: 90px;
}

.history__text {
    padding-bottom: 44px;
    width: 352px;
    line-height: 140%;
    color: #F7F7F7;
}
.history__text+.history__text{
    color: #BFBFBF;
}
.history__text:nth-child(4){
    width: 264px;
}
.history__img {
    padding-top: 22px;
}
.footer__logo{
    color: #A2734A;
}
.footer__block{
    border-top: 1px solid #333333;
    display: flex;
    justify-content: space-between;
}